:root {
    --battle-word-color: rgba(0,170,200,1);
    --ship-word-color: rgba(0,170,200,1);
    --letter-size: calc(var(--home-board-size) / 10);
    --thickness: 400;
}

.singleSquare {
    position: relative;
}

.singleSquare:before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: var(--letter-size);
    font-weight: var(--thickness);
}

.homeBoard .e3:before {
    content: "B";
    color: var(--battle-word-color);
    
}
.homeBoard .e4:before {
    content: "A";
    color: var(--battle-word-color);
}
.homeBoard .e5:before {
    content: "T";
    color: var(--battle-word-color);
}
.homeBoard .e6:before {
    content: "T";
    color: var(--battle-word-color);
}
.homeBoard .e7:before {
    content: "L";
    color: var(--battle-word-color);
}
.homeBoard .e8:before {
    content: "E";
    color: var(--battle-word-color);
}


.homeBoard .f4:before {
    content: "S";
    color: var(--ship-word-color);
}
.homeBoard .f5:before {
    content: "H";
    color: var(--ship-word-color);
}
.homeBoard .f6 {
    background: url('../ships/submarine-vert.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-filter: brightness(0);
            filter: brightness(0);

   /* content: "I";
    color: var(--ship-word-color);
    font-size: var(--letter-size);
    font-weight: var(--thickness);*/
}
.homeBoard .f7:before {
    content: "P";
    color: var(--ship-word-color);
}
