nav {
    grid-area: nav;
    background-color: rgba(0,0,0,0.3);
    border-bottom: 2px solid rgba(255,255,255,0.2);
    color: green;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    --notification-color: transparent;
}

.leftNav {
    display: flex;
    flex-flow: row nowrap;
    justify-self: start;
    gap: 1rem;
}

.rightNav {
    display: flex;
    flex-flow: row nowrap;
    justify-self: end;
}

.audioToggle {
    opacity: 0.5;
    transition: all 0.15s ease-out;
    cursor: pointer;
}

.audioToggle:hover {
    opacity: 0.3;
}


.soundOn {
    
}

.musicOn {
    
}

.soundOff {
    opacity: 0.3;
    background: linear-gradient(to top left,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%)
}

.musicOff {
    opacity: 0.3;
    background: linear-gradient(to top left,
           rgba(0,0,0,0) 0%,
           rgba(0,0,0,0) calc(50% - 0.8px),
           rgba(0,0,0,1) 50%,
           rgba(0,0,0,0) calc(50% + 0.8px),
           rgba(0,0,0,0) 100%)
}


nav button {
    transition: 0.15s ease-out all;
}

nav button:hover{
    opacity: 0.5;
}

nav button {
    background: transparent;
    border: none;
    color: rgba(0,200,20,0.8);
    font-size: 1rem;
    margin: 0 0.1rem;
}

#dropdown-basic {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.3rem;
    margin-top: 0.2rem;
}

nav #dropdown-basic::before {
    position: absolute;
    content: "";
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--notification-color);
    border-radius: 50%;
    margin-top: 0.3rem;
    margin-left: 0.2rem;
    z-index: 100;
}

nav img {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: contain;
       object-fit: contain;
    -webkit-filter: invert(100%);
            filter: invert(100%);
}

#dropdowns {
    background: rgba(0,0,0,0.6);
    display: flex;
    flex-flow: wrap column;
    margin-top: 0.2rem;
    width: 12rem;
    z-index: 1000;
}

.dropdownItem {
    /*padding: 1rem;*/
    border: 2px solid black;
    border-top: none;
    height: 4.2rem;
    display: flex;
    flex-flow: wrap column;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    padding: 0.2rem;
}

.text {
    text-decoration: none;
    color: white;
    text-align: center;
    margin-bottom: 0.3rem;
    font-size: 0.8rem;
}

.requesterName {
    font-weight: 600;
}

.acceptInvite {
    background-image: linear-gradient(-45deg, rgba(0,150,0,0.9), rgba(0,255,0,0.9));
    border: 2px solid rgba(0,0,0,0.5);
    color: black;
    border-radius: 10px;
    /*padding: 0.1rem 0.2rem;*/
    font-weight: 600;
    font-size: 0.8rem;
    transition: 0.2s ease;
}

.rejectInvite {
    background-image: linear-gradient(-45deg, rgba(150,0,0,0.9), rgba(255,0,0,0.9));
    border: 2px solid rgba(0,0,0,0.5);
    color: black;
    border-radius: 10px;
    /*padding: 0.1rem 0.2rem;*/
    font-weight: 600;
    font-size: 0.8rem;
    transition: 0.2s ease;
}

.acceptInvite:hover {
    opacity: 0.6;
    transition: 0.2s ease;
}

.rejectInvite:hover {
    opacity: 0.6;
    transition: 0.2s ease;
}

