.findMatchContainer {
    position: relative;
    width: 8rem;
    height: 2.5rem;
    border: 2px solid rgb(0, 255, 26);
    border-radius: 10px;
    box-shadow: 0 0 6px 1px rgb(204, 255, 218, 0.3);
    opacity: 0.8;
    transition: all 0.15s ease-out;
    -webkit-animation: pulseGlow 1.5s linear infinite;
            animation: pulseGlow 1.5s linear infinite;
}

.findMatch {
    width: 100%;
    height: 100%;
    background-color: transparent;
    color: rgb(0, 255, 26, 0.9);
    border: none;
    outline: none;
    font-size: 1rem;
    font-weight: 400;
    text-transform: uppercase;
    box-shadow: 0 0 6px 1px rgb(204, 255, 218, 0.3) inset;
    -webkit-animation: pulseGlowInset 1.5s linear infinite;
            animation: pulseGlowInset 1.5s linear infinite;
}

@-webkit-keyframes pulseGlow {
    50% {
        box-shadow: 0 0 12px 1px rgb(204, 255, 218, 0.6);
        border: 2px solid rgb(112, 255, 126);
    }
}

@keyframes pulseGlow {
    50% {
        box-shadow: 0 0 12px 1px rgb(204, 255, 218, 0.6);
        border: 2px solid rgb(112, 255, 126);
    }
}

@-webkit-keyframes pulseGlowInset {
    50% {box-shadow: 0 0 10px 1px rgb(204, 255, 218, 0.6) inset;}
}

@keyframes pulseGlowInset {
    50% {box-shadow: 0 0 10px 1px rgb(204, 255, 218, 0.6) inset;}
}

.findMatchContainer:hover {
    transform: scale(1.04);
}