:root {
    --home-board-size: 60vmin;
    --game-board-size: 40rem;
    --game-board-size-mobile: 32vh;
}

@media only screen and (min-width: 1650px) and (max-width: 1920px) {
    :root {
        --game-board-size: 35rem;
    }
}

@media only screen and (min-width: 1480px) and (max-width: 1649px) {
    :root {
        --game-board-size: 30rem;
    }
}

@media only screen and (min-width: 1260px) and (max-width: 1479px) {
    :root {
        --game-board-size: 25rem;
    }
}

@media only screen and (min-width: 1120px) and (max-width: 1259px) {
    :root {
        /* --home-board-size: 40rem; */
        --game-board-size: 20rem;
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1119px) {
    :root {
        /* --home-board-size: 35rem; */
        --game-board-size: 17rem;
    }
}

@media only screen and (min-width: 750px) and (max-width: 999px) {
    :root {
        /* --home-board-size: 30rem; */
        --game-board-size: 14rem;
    }
}

@media only screen and (max-width: 749px) {
    :root {
        /* --home-board-size: 25rem; */
        --game-board-size: 14rem;
    }
}

.board {
    position: relative;
    padding: 1rem;
}

.homeBoard {
    align-content: center;
    justify-content: center;
    height: var(--home-board-size);
    width: var(--home-board-size);
}

.userBoard {
    display: grid;
    grid-template-columns: 2rem var(--game-board-size);
    grid-template-rows: 2rem var(--game-board-size);
    gap: 0;
    grid-template-areas:
    "rows cols"
    "rows board";
    align-content: center;
}

.gamePage.mobile .userBoard {
    display: grid;
    grid-template-columns: 2rem var(--game-board-size-mobile);
    grid-template-rows: 2rem var(--game-board-size-mobile);
    gap: 0;
    grid-template-areas:
    "rows cols"
    "rows board";
    align-content: center;
    padding-top: 0;
}

.opponentBoard {
    display: grid;
    grid-template-columns: 2rem var(--game-board-size);
    grid-template-rows: 2rem var(--game-board-size);
    gap: 0;
    grid-template-areas:
    "rows cols"
    "rows board";
    align-content: center;
}

.gamePage.mobile .opponentBoard {
    display: grid;
    grid-template-columns: 2rem var(--game-board-size-mobile);
    grid-template-rows: 2rem var(--game-board-size-mobile);
    gap: 0;
    grid-template-areas:
    "rows cols"
    "rows board";
    align-content: center;
    padding-top: 0;
    margin-bottom: 1rem;
}

.rows {
    display: flex;
    grid-area: rows;
    grid-row-start: 2;
    flex-flow: nowrap column;
    justify-content: space-around;
    align-items: center;
    color: white;
}

.rows > h3 {
    font-weight: 400;
}

.gamePage.mobile .rows > h3 {
    font-size: 0.7rem;
}

.cols {
    display: flex;
    grid-area: cols;
    grid-column-start: 2;
    flex-flow: wrap row;
    justify-content: space-around;
    align-items: center;
}

.cols > h3 {
    font-weight: 400;
    color: white;
}

.gamePage.mobile .cols > h3 {
    font-size: 0.7rem;
}

.grid {
    width: 100%;
    height: 100%;
    margin: 0;
    grid-area: board;
    background: url('./waterbg.gif');
    opacity: 0.7;
}

.gamePage.mobile .grid {
    width: max-content;
    height: max-content;
}

.allSqaures {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, calc(var(--game-board-size) / 10));
    grid-template-rows: repeat(10, calc(var(--game-board-size) / 10));
    gap: 0;
    grid-template-areas:
    "a1 a2 a3 a4 a5 a6 a7 a8 a9 a10"
    "b1 b2 b3 b4 b5 b6 b7 b8 b9 b10"
    "c1 c2 c3 c4 c5 c6 c7 c8 c9 c10"
    "d1 d2 d3 d4 d5 d6 d7 d8 d9 d10"
    "e1 e2 e3 e4 e5 e6 e7 e8 e9 e10"
    "f1 f2 f3 f4 f5 f6 f7 f8 f9 f10"
    "g1 g2 g3 g4 g5 g6 g7 g8 g9 g10"
    "h1 h2 h3 h4 h5 h6 h7 h8 h9 h10"
    "i1 i2 i3 i4 i5 i6 i7 i8 i9 i10"
    "j1 j2 j3 j4 j5 j6 j7 j8 j9 j10";
}

.gamePage.mobile .allSqaures {
    grid-template-columns: repeat(10, calc(var(--game-board-size-mobile) / 10));
    grid-template-rows: repeat(10, calc(var(--game-board-size-mobile) / 10));
}

.homeBoard .allSqaures {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(10, auto);
    grid-template-rows: repeat(10, auto);
    gap: 0;
    grid-template-areas:
    "a1 a2 a3 a4 a5 a6 a7 a8 a9 a10"
    "b1 b2 b3 b4 b5 b6 b7 b8 b9 b10"
    "c1 c2 c3 c4 c5 c6 c7 c8 c9 c10"
    "d1 d2 d3 d4 d5 d6 d7 d8 d9 d10"
    "e1 e2 e3 e4 e5 e6 e7 e8 e9 e10"
    "f1 f2 f3 f4 f5 f6 f7 f8 f9 f10"
    "g1 g2 g3 g4 g5 g6 g7 g8 g9 g10"
    "h1 h2 h3 h4 h5 h6 h7 h8 h9 h10"
    "i1 i2 i3 i4 i5 i6 i7 i8 i9 i10"
    "j1 j2 j3 j4 j5 j6 j7 j8 j9 j10";
}

.userBoard .singleSquare {
    /* text-align: center; */
    border: 1px solid rgba(0,255,0,0.3);
}

.opponentBoard .singleSquare {
    /* text-align: center; */
    border: 1px solid rgba(255,0,0,0.4);
}

.opponentBoard .singleSquare:hover,.homeBoard .singleSquare:hover {
    box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.5);
}

.hitMarker {
    background: url('./hit.png');
    background-size: contain;
    z-index: 4;
}

.missMarker {
    background-color: rgba(0,150,255,0.7);
}

/* .opponentBoard:before {
    position: absolute;
    content: var(--sqaure-already-selected);
    color: rgba(255,0,0,0.9);
    top: -0.8rem;
    width: var(--game-board-size);
    transform: translateX(2rem);
    text-align: center;
} */

/* .userBoard:before {
    position: absolute;
    content: var(--sqaure-already-selected);
    color: rgba(255,0,0,0.9);
    top: -0.8rem;
    width: var(--game-board-size);
    transform: translateX(2rem);
    text-align: center;
} */

@-webkit-keyframes fadeText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
