.gamePage {
    position: relative;
    background-color: rgba(0,0,0,0.7);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 2rem -webkit-max-content 1fr -webkit-max-content 15rem 2rem;
    grid-template-columns: 2rem max-content 1fr max-content 15rem 2rem;
    grid-template-rows: 3rem 0.1fr 0.9fr 2rem;
    /* gap: 0 1rem; */
    grid-template-areas:
        "nav nav nav nav nav nav"
        ". playerTurnText playerTurnText playerTurnText chatContainer ."
        ". userBoard readyBtn opponentBoard chatContainer ."
        "footer footer footer footer footer footer";
}

.gamePage.mobile {
    position: relative;
    background-color: rgba(0,0,0,0.7);
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr -webkit-max-content;
    grid-template-columns: 1fr max-content;
    grid-template-rows: 3rem -webkit-max-content -webkit-max-content 3.5rem;
    grid-template-rows: 3rem 1fr 1fr 3.5rem;
    grid-template-areas:
        "nav nav"
        "userBoard readyBtn"
        "opponentBoard ."
        "footer footer";
}

.instructions {
    position: absolute;
    top: 4rem;
    left: 50%;
    color: rgba(196, 2, 2, 0.9);
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    font-size: 2.5vmin;
    transform: translate(-50%, -1rem) scale(0.8);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

.gamePage.mobile .instructions {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    background: rgba(0, 0, 0, 0.7);
    border: 4px solid rgba(255, 255, 255, 0.5);
    border-radius: 1rem;
    width: 80%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 3rem 1rem 2rem 1rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 4rem;
    text-align: center;
}

.gamePage.mobile .instructions > div {
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    gap: 0.3rem;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.instructions h3 {
    font-weight: 600;
    letter-spacing: 0.1rem;
    color: rgba(181, 0, 0, 0.8);
    font-size: 1.5rem;
}

.instructions h5 {
    font-weight: 400;
    letter-spacing: 0.2rem;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
}

.gamePage.mobile .instructions:before {
    position: absolute;
    width: 80%;
    content: "Instructions";
    top: 0.3rem;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.2rem;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    color: rgba(0, 186, 19, 0.9);
    border-bottom: 1px solid rgba(255, 255, 255, 0.6);
}
.instructions.hide{
    display: none;
}

.playerTurnText {
    grid-area: playerTurnText;
    justify-self: center;
    align-self: center;
    color: rgba(196, 2, 2, 0.8);
    text-transform: uppercase;
    font-weight: 600;
    transform: translateX(calc((var(--game-board-size) / 10) / 2));
}

.playerTurnText.hide {
    display: none;
}

.gamePage.mobile .playerTurnText {
    position: absolute;
    top: 6rem;
    color: rgba(196, 2, 2, 0.8);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.4rem;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.8rem;
    z-index: 100;
}

.gamePage {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    --player-turn-text: "";
}

.gamePage nav{
    grid-area: nav;
}

.gamePage .userBoard {
    grid-area: userBoard;
    justify-self: center;
    align-self: center;
}

.gamePage .opponentBoard {
    grid-area: opponentBoard;
    justify-self: center;
    align-self: center;
}

.gamePage .userBoard > .grid {
    border: 2px solid rgba(0,255,0,0.3);;
}

.gamePage .opponentBoard > .grid {
    border: 2px solid rgba(255,0,0,0.4);;
}

/* .gamePage .opponentBoard::before {
    content: var(--player-turn-text);
    color: rgba(255, 0, 0, 0.7);
    position: relative;
    font-weight: 600;
    white-space: pre-wrap;
} */

.readyBtn {
    grid-area: readyBtn;
    opacity: 0.9;
    transition: all 0.2s ease-out;
    justify-self: center;
    align-self: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: 2rem;
    border: 2px solid rgb(0, 255, 26);
    border-radius: 10px;
    box-shadow: 0 0 4px 1px rgb(204, 255, 218, 0.3);
    opacity: 0.8;
}

.gamePage.mobile .readyBtn {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    margin-right: 0.5rem;
    margin-top: 1rem;
    align-self: center;
    opacity: 0.7;
}

.readyBtn > .btn {
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: transparent;
    color: rgb(0, 255, 26, 0.9);
    border: none;
    outline: none;
    font-weight: 400;
    text-transform: uppercase;
    white-space: pre-wrap;
}

.gamePage.mobile .readyBtn > .btn{
    -webkit-filter: grayscale(1) brightness(100);
            filter: grayscale(1) brightness(100);
}


.readyBtn:hover {
    transform: scale(1.04);
}

.gamePage .chatContainer {
    position: relative;
    display: flex;
    flex-flow: nowrap column;
    grid-area: chatContainer;
    height: 70%;
    max-height: 25rem;
    width: 90%;
    border: 2px solid rgba(255,255,255,0.2);
    background-color: rgba(0,0,0,0.4);
    justify-self: center;
    align-self: center;
    margin-top: var(--square-size);
    padding-top: 1.5rem;
}

.chatContainerMobile {
    position: absolute;
    display: flex;
    flex-flow: nowrap column;
    left: 50%;
    transform: translate(-50%);
    top: 3rem;
    bottom: 8rem;
    width: 100%;
    max-width: 30rem;
    border: 2px solid rgba(255,255,255,0.2);
    border-top: none;
    background-color: rgba(0,0,0,0.8);
    margin-top: 0;
    padding-top: 1.5rem;
    z-index: 100;
    -webkit-animation: slideDownChat 0.3s ease-out;
            animation: slideDownChat 0.3s ease-out;
}

@-webkit-keyframes slideDownChat {
    0% {bottom: 100vh;}
    100% {bottom: 8rem;}
}

@keyframes slideDownChat {
    0% {bottom: 100vh;}
    100% {bottom: 8rem;}
}

.gamePage .chatContainerMobile.hide {
    display: none;
}

.gamePage .chatContainerMobile:before {
    position: absolute;
    left: 50%;
    width: 90%;
    text-align: center;
    top: 0.5rem;
    transform: translate(-50%, 0%);
    content: 'Chat';
    font-weight: 400;
    color: rgba(0, 237, 39, 0.6);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.gamePage .chatContainer:before {
    position: absolute;
    left: 50%;
    width: 90%;
    text-align: center;
    top: 0.2rem;
    transform: translate(-50%, 0%);
    content: 'Chat';
    font-weight: 400;
    color: rgba(0, 237, 39, 0.6);
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}

.gamePage .chatBox {
    display: inline-block;
    height: 90%;
    overflow: scroll;
    padding: 0.5rem;
}

.chatContainerMobile .chatBox {
    padding: 1rem;
}

.gamePage .chatBox::-webkit-scrollbar {
    display: none;
}

.gamePage .chatBox .message {
    display: flex;
    flex-flow: nowrap column;
}

.gamePage .chatBox .userText {
    align-self: flex-start;
    display: inline-block;
    text-align: left;
    width: 80%;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
}

.gamePage .chatBox .opponentText {
    align-self: flex-end;
    display: inline-block;
    text-align: right;
    width: 80%;
    overflow-wrap: break-word;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    font-weight: 600;
}

.gamePage .chatBox .userName {
    color: rgba(0, 150, 255, 0.7);
    margin-top: 0.5rem;
    align-self: flex-start;
    display: inline-block;
    text-align: left;
    width: 80%;
    letter-spacing: 1px;
    font-size: 1rem;
}

.gamePage .chatBox .oppName {
    color: rgba(200, 0, 0, 0.7);
    margin-top: 0.5rem;
    align-self: flex-end;
    display: inline-block;
    text-align: right;
    width: 80%;
    letter-spacing: 1px;
    font-size: 1rem;
}

.gamePage .chatInput {
    height: 3rem;
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content;
    outline: none;
    border-top: 2px solid rgba(255,255,255,0.2);
    border-radius: 0;
    color: rgba(255, 255, 255, 0.528);
    font-weight: 400;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 0 0.3rem;
    caret-color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

.gamePage .chatInput:focus {
    background-color: rgba(0, 0, 0, 1);
}

.gamePage .chatInput::-webkit-input-placeholder {
    color: rgba(255, 255, 255, 0.4);
    font-weight: 400;
}

.gamePage .chatInput::-moz-placeholder {
    color: rgba(255, 255, 255, 0.4);
    font-weight: 400;
}

.gamePage .chatInput:-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.4);
    font-weight: 400;
}

.gamePage .chatInput::-ms-input-placeholder {
    color: rgba(255, 255, 255, 0.4);
    font-weight: 400;
}

.gamePage .chatInput::placeholder {
    color: rgba(255, 255, 255, 0.3);
    font-weight: 400;
}

.gamePage footer {
    grid-area: footer;
}