.homePageLogged {
    background-color: rgba(0,0,0,0.7);
    height: 100vh;
        display: grid;
        grid-template-columns: 15rem  1fr;
        grid-template-rows: 3rem 1fr 2rem;
        grid-template-areas:
            "nav nav"
            "friends homeBoard"
            "footer footer";
}

.homePageLogged nav {
    grid-area: nav;
}

.homePageLogged .friendsContainer {
    grid-area: friends;
}

.homePageLogged .homeBoard {
    grid-area: homeBoard;
    justify-self: center;
    align-self: center;
}

.homePageLogged footer {
    grid-area: footer;
}
