.logRegPage {
    background-color: rgba(0,0,0,0.7);
    height: 100vh;
    display: grid;
    grid-template-columns: 15rem 1fr;
    grid-template-rows: 3rem -webkit-max-content -webkit-max-content 1fr 2rem;
    grid-template-rows: 3rem max-content max-content 1fr 2rem;
    grid-template-areas:
            "nav nav"
            "friends homeText"
            "friends playAsGuest"
            "friends logReg"
            "footer footer";
}

.logRegPage.mobile {
    background-color: rgba(0,0,0,0.7);
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3rem -webkit-max-content -webkit-max-content 1fr 2rem;
    grid-template-rows: 3rem -webkit-max-content -webkit-max-content 1fr 3.5rem;
    grid-template-rows: 3rem max-content max-content 1fr 3.5rem;
    grid-template-areas:
        "nav"
        "homeText"
        "playAsGuest"
        "logReg"
        "footer";
}

.playAsGuest {
    grid-area: playAsGuest;
    justify-self: center;
    align-self: start;
}

.homeText {
    grid-area: homeText;
    justify-self: center;
    align-self: center;
}

.homeText > h1 {
    position: relative;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-weight: 600;
    font-size: 5rem;
    letter-spacing: 0.5rem;
    -webkit-text-stroke: 1px rgba(0, 255, 42, 0.6);
}

.logReg {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    grid-area: logReg;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: start;
    margin-top: 5vh;
}

.logRegPage.mobile .logReg {
    position: absolute;
    margin: 0;
    bottom: 10vh;
    left: 50%;
    transform: translate(-50%);
}

.logRegPage nav {
    grid-area: nav;
}

.logRegPage .friendsContainer {
    grid-area: friends;
    z-index: 2;
}

.login, .register {
    width: 18rem;
    max-width: 90vw;
    height: 22rem;
    max-height: 90vh;
    border: 4px solid rgba(255, 255, 255, 0.6);
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgba(0,0,0,0.6);
    --reg-log-alert: "";
    border-radius: 10px;
    opacity: 0.9;
}

.login h1, .register h1 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.login .username:before, .register .username:before {
    content: var(--reg-log-alert);
    position: absolute;
    color: rgba(255,0,0,0.8);
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
    width: 100%;
    top: 0;
    line-height: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
}

.login .username, .register .username {
    position: relative;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 13rem;
    max-width: 90vw;
    display: flex;
    flex-flow: nowrap column;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 1rem;
    padding-top: 3rem;
}

.login .password, .register .password {
    position: relative;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 13rem;
    max-width: 90vw;
    display: flex;
    flex-flow: nowrap column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
}

.login h4, .register h4 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    letter-spacing: 0.1rem;
}

.login input, .register input {
    box-sizing: border-box;
    min-height: 2.5rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.6);
    outline: none;
    color: white;
    caret-color: white;
    padding: 0.5rem;
    letter-spacing: 0.1rem;
}

.login input:hover, .register input:hover {
    border: 2px solid rgba(255, 255, 255, 0.6);
}

.login input:focus, .register input:focus {
    border: 3px solid rgba(255, 255, 255, 0.6);
}

.raisedTextBox {
    position: fixed;
    height: 100vh;
    z-index: 100;
}

.loginBtn, .registerBtn {
    border: none;
    background-color: rgba(255, 255, 255, 0.9);
    color: rgba(0, 0, 0, 0.9);
    border-radius: 8px;
    font-size: 1rem;
    font-weight: 600;
    padding: 0.5rem;
    transition: all 0.2s ease-out;
    letter-spacing: 0.1rem;
}

.changeLogReg {
    background: transparent;
    color: rgba(255, 255, 255, 0.9);
    font-size: 0.8rem;
    border: none;
    margin-top: 0.2rem;
    padding: 0.35rem;
    transition: all 0.2s ease-out;
    letter-spacing: 0.1rem;
}

.changeLogReg:hover {
    opacity: 0.8;
}

.loginBtn:hover, .registerBtn:hover {
    opacity: 0.8;
}

.logRegPage footer {
    grid-area: footer;
}


@media only screen and (min-width: 651px) and (max-width: 855px) {
    .homeText > h1 {
        transform: scale(0.70);
    }
}

@media only screen and (min-width: 500px) and (max-width: 650px) {
    .homeText > h1 {
        transform: scale(0.60);
    }
}

@media only screen and (max-width: 499px) {
    .logReg {
        transform: scale(0.8);
    }
    .logRegPage.mobile .logReg {
        bottom: 5vh;
        transform: translate(-50%) scale(0.8);
    }
    .homeText > h1 {
        transform: scale(0.50);
    }
}