.homeText {
    text-align: center;
    max-width: 25rem;
    /*height: 17rem;*/
    display: flex;
    flex-flow: nowrap column;
    justify-content: center;
    align-items: center;
}

.homeText h1{
    color: white;
    /*margin-bottom: 1rem;*/
    font-size: calc(1.3rem + 1.2vw);

}

.homeText h3{
    color: green;
}

